header {
    background-color: lime;
    position: fixed;
    width: 100%;
}

#container {
    display: flex;
    height: 100vh;
    padding-top: 3em;
}

nav {
    background-color: lightblue;
    transition: .4s;
    width: 18em;
}

main {
    background-color: yellow;
    padding: 0em .6em .6em .6em;
    overflow-y: auto;
    width: 100%;
}

.toggle-navbar-left {
    margin-left: -18em;
}

/********************* START SCROLL *********************/
main::-webkit-scrollbar {
    width: 10px;
}

main::-webkit-scrollbar-track {
    background: rgb(199, 198, 198);
}

main::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid rgb(199, 198, 198);
}

/********************* END SCROLL *********************/