.toggle-navbar-left {
    margin-left: -18em;
}

/********************* START SCROLL *********************/
main::-webkit-scrollbar {
    width: 10px;
}

main::-webkit-scrollbar-track {
    background: rgb(199, 198, 198);
}

main::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid rgb(199, 198, 198);
}

/********************* END SCROLL *********************/