<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
            {{title | translate}}
            prueba
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p [innerHTML]="message | translate"></p>
        contenido
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="btnAccept()">
            {{acceptBtnText | translate}}
        </button>
        <button *ngIf="showBtnCancel" type="button" class="btn btn-secondary" (click)="btnCancel()">
            {{cancelBtnText | translate}}
        </button>
    </div>
</div>