/* You can add global styles to this file, and also import other style files */
@media (max-width: 768px) {
    nav {
        margin-left: -18em;
    }

    #navbar-toggler {
        display: none;
    }

    #offcanvas-toggler {
        display: block !important;
    }
}