<div class="w-100">

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.
    <br>
    <button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Create modal with
        component
    </button>
    <br>

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.


    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit nemo ipsum, dolorum architecto nostrum
    cumque harum dignissimos cupiditate consequuntur deserunt, laborum ad hic laboriosam? Illum, voluptatum.
    Qui
    sed voluptates praesentium.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga minus voluptas facilis illum placeat, optio
    aliquid cum aut facere amet assumenda, ab incidunt iusto, delectus repudiandae quas rem earum.

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore necessitatibus quibusdam blanditiis odio, architecto
    earum amet labore. Mollitia vitae minus esse quasi? Necessitatibus non vitae dolore? Ea nisi fugiat ad!

</div>